//fonts
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;
// colors
$primary: #A65CF0;
$primary-light: #C998FB;
$primary-shade: #7033AC;
$secondary: #FF862F;
$secondary-light: #FFBD59;
$secondary-shade: #BB370E;
$secondary-shade-light: #FFF5D1;
$elements-bg: #F7F7F7;
$footer-bg: #EAEAEA;
$dark-gray: #999999;
$correct-input: #B8EC64;
$incorrect-input: #FF6972;
$pink_violet: #EBD1FF;
$black: #333333;
