.header {
  min-height: 201px;
  padding-bottom: 34px;
}

.header__dropdown {
  margin-right: 33px;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.dropdown-link-wrapper {
  display: flex;
  grid-column: span 4;
  justify-self: flex-start;
  padding: 14px 0;
  // background-color: black;
}

.header__link-list {
  grid-column: span 8;
  justify-self: flex-end;
  // background-color: aqua;
  
}

.header__link-list-item {
  // display: flex;
  // align-items: baseline;
  & a {
    font-size: 14px;
  }
}

.header__logo-link {
  grid-column: span 2;
  padding: 30px 0;
  // background-color: aquamarine;
}

.header__nav {
  grid-column: span 10;
  justify-self: flex-end;
  // background-color: red;
}

.search-filter-group {
  display: flex;
  grid-column: span 10;
}

.header__buttons-group {
  grid-column: span 2;
  justify-self: flex-end;
  padding-top: 10px;
  // background-color: brown;
  & .btn {
    height: 28px;
  }
  & .btn:first-child {
    margin-right: 39px;
  }
}

.header__search {
  flex-grow: 2;
}


