.special-offers {
  padding-top: 70px;
  padding-bottom: 70px;
}


.special-offers__item-card {
  padding: 30px;
  min-height: 511px;
}

.special-offers__item-card-label {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 92px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: $white;
  text-align: center;
  background-image: url("../img/special-offers/label-bg.png");

}

.special-offers__item-card_big {
  max-width: 624px;
  & .item-card__content {
    margin-right: 130px;
  }
}

.special-offers-slider {
  display: flex;
  column-gap: 32px;
}

.item-card__content-wrapper {
  display: flex;
}

